@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* here   are some color stoke */
/* color: #424242; this is Dark 02 */
/* header background color rgba(255, 144, 14, 0.1) */
/* button background color #FF900E */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
  box-sizing: border-box;
  margin: 0;
}
/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}

#header {
  background-color: rgba(255, 144, 14, 0.1);
  max-width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.brand {
  font-size: 2.3rem;
}
.navbar,
.banner {
  max-width: 100%;
  margin: 0 auto;
}
.banner {
  padding: 0;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-items {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #424242;
}
.banner-header-description {
  max-width: 862px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.banner-header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.banner-description {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 32px;
  text-align: center;
}
.banner-button {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 24px;
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
}
.banner img {
  width: 100%;
}
/* This is main section */
#main {
  max-width: 1440px;
  margin: 0 auto;
}
.our-feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  padding: 0 20px;
}
.our-feature-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature-images-container img {
  width: 100%;
}
.our-feature-content {
  max-width: 537px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.our-feature-header {
  font-size: 2.8rem;
  margin-bottom: 24px;
}
#quick-list {
  color: #424242;
  font-weight: 600;
}
#of-our {
  color: black;
}
#features {
  color: #ff900e;
}
.our-feature-description {
  font-size: 1rem;
  font-weight: 400;
  color: #424242;
  line-height: 26px;
  margin-bottom: 32px;
}
.our-feature-button {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 24px;
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
}
/* feature-love-enjoy-section */

.feature-love-enjoy-section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 140px;
  margin-top: 130px;
  padding: 0 20px;
}
.feature-love-enjoy-container {
  max-width: 586px;
}
.feature-love-enjoy-header {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
  font-size: 2.8rem;
  font-size: bold;
  margin-bottom: 24px;
}
.feature-love-enjoy-description {
  color: #424242;
  line-height: 26px;
  font-size: 1rem;
  margin-bottom: 30px;
}
.feature-love-enjoy-card {
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.074);
}
.feature-love-enjoy-card-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.feature-love-enjoy-card-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
}
.architect-image-and-experience-container {
  max-width: 708px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  display: flex;
  flex-direction: column;
}
.architect-image {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.years-container {
  background-color: #ff900e;
  width: 280px;
  height: 180px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -92px;
  margin-top: -100px;
}
.years-header {
  font-size: 3rem;
}
.years-description {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
}
/* This is some facts section */
.some-facts-section {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 130px auto;
  gap: 100px;
  padding: 0 20px;
}
.some-facts-header-container {
  max-width: 542px;
}
.some-facts-header {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.some-facts-description {
  font-size: 1rem;
  line-height: 26px;
  color: #424242;
}

.some-facts-achievement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.some-facts-achievement-card {
  width: 240px;
  height: 240px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 10px;
}
.some-facts-achievement-container img {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}
.some-facts-achievement-card-header {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.some-facts-achievement-card-description {
  font-size: 1.2rem;
  font-weight: 600;
  color: #424242;
}

/* This section is for our-sponsors-section  */
.our-sponsors-section {
  max-width: 1440px;
  margin: 180px auto;
  padding: 0 20px;
}
.our-sponsors-header-container {
  width: 542px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-sponsors-header {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.our-sponsors-description {
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  color: #424242;
}
.Sponsors-image-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
/* This is footer section */
.footer-section {
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 144, 14, 0.1);
  border-radius: 8px;
  margin-bottom: 100px;
}
.footer-disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-disclaimer p {
  color: #424242;
}

/* ---------This is media quarry------------------------------ */
@media screen and (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar {
    padding: 20px 25px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .our-feature {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 25px;
  }
  .brand {
    font-size: 1.2rem;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-header {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .banner-description {
    font-size: 0.9rem;
    line-height: 26px;
    margin-bottom: 22px;
    text-align: center;
    padding: 10px;
  }

  .banner-button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #ff900e;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 35px;
  }
  .our-feature-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .our-feature-button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #ff900e;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
  }
  /* .our-feature-content {
    max-width: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  } */

  .our-feature-header {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .our-feature-description {
    text-align: center;
  }
  .our-feature-button {
    margin: 0 auto;
  }
  .some-facts-achievement-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
  }
  .some-facts-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 30px;
  }
  .some-facts-header-container {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .some-facts-description {
    font-size: 1rem;
    line-height: 26px;
    color: #424242;
    text-align: center;
  }
  .some-facts-achievement-card {
    width: 300px;
    height: 300px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 10px;
  }
  .our-sponsors-section {
    width: 100%;
    margin: 0 auto;
  }
  .our-sponsors-header-container {
    width: 100%;
  }
  .our-sponsors-header {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .Sponsors-image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .Sponsors-image-container img {
    width: 60%;
    margin: 0 auto;
  }
  .footer-section {
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    padding: 0 10px;
  }
  .footer-disclaimer {
    width: 100%;
    text-align: center;
  }
  .feature-love-enjoy-section {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 60px;
    margin-top: 70px;
    padding: 0 20px;
  }
  .architect-image-and-experience-container {
    width: 100%;
  }
  .years-container {
    width: 100%;
    height: 130px;
    margin-left: 0;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 745px) {
  .our-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 20px;
  }
  .some-facts-achievement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .navbar {
    padding: 20px 25px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .banner-header {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .banner-description {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
    text-align: center;
    padding: 0 10px;
  }
  .nav-links {
    display: flex;
    gap: 30px;
    font-size: 1.3rem;
  }
  .banner-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 24px;
    background-color: #ff900e;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
  }
  .some-facts-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 50px;
    padding: 0 20px;
  }
  .some-facts-achievement-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .some-facts-achievement-card {
    margin: 0 auto;
  }
  .our-sponsors-section {
    max-width: 100%;
    margin: 80px auto;
    padding: 0 30px;
  }
  .Sponsors-image-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
  }
  .Sponsors-image-container img {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 745px) and (max-width: 1250px) {
  .our-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    padding: 0 20px;
  }
  .our-feature-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .our-feature-button {
    margin-bottom: 10px;
  }

  .feature-love-enjoy-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
  }
  .feature-love-enjoy-container {
    max-width: 100%;
  }
  .architect-image-and-experience-container {
    max-width: 100%;
  }
  .architect-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  .years-container {
    background-color: #ff900e;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .some-facts-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    gap: 30px;
  }
  .some-facts-header-container {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .some-facts-description {
    text-align: center;
  }
  .some-facts-achievement-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .some-facts-achievement-card {
    margin: 0 auto;
  }
  .Sponsors-image-container {
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
  }
  .our-sponsors-section {
    max-width: 100%;
    margin: 80px auto;
  }
  .Sponsors-image-container img {
    width: 100px;
  }
  .our-sponsors-section {
    max-width: 100%;
    margin: 30px auto;
  }
  .Sponsors-image-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .footer-section {
    max-width: 100%;
    height: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .navbar {
    padding: 10px 60px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .feature-love-enjoy-section {
    padding: 0 30px;
    max-width: 100%;
    column-gap: 0;
  }
  .architect-image-container img {
    width: 100%;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1440px) {
  .some-facts-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    gap: 60px;
    padding: 0 20px;
  }
  .some-facts-header-container {
    max-width: 542px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .some-facts-header {
    text-align: center;
  }
  .some-facts-description {
    font-size: 1.2rem;
    text-align: center;
  }
  .our-sponsors-section {
    max-width: 100%;
    margin: 80px auto;
  }
  .Sponsors-image-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
  }
  .navbar {
    padding: 30px 40px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .banner {
    padding: 0 30px;
  }
  .nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 1.5rem;
  }
  .feature-love-enjoy-section {
    padding: 0 30px;
    max-width: 100%;
  }
  .our-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    padding: 0 30px;
  }
}
